* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: 300;
    background-color: black;
    color: #ffffffa5;
    text-shadow:0 0 10px #00ff2a;
 
}
a {
    text-decoration: none;
    color: inherit;
}

/*****************************
INDEX
*****************************/

    /*****************************
    HEADER/NAV
    *****************************/
    header {
        font-size: 2.5rem;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        margin-bottom: 1rem;
       
    }
    ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
    }
    .navLinks {
        margin: 2rem;
    }
    .navLinks:hover{
        color: rgba(217, 255, 0, 0.593);
    }
    .icon-links ul {
        display: flex;
    }
    .icon:hover {
        background-color: rgba(217, 255, 0, 0.593);
    }

    /******************************
    HAMBURGER BUTTONS
    *******************************/
    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 21px;
    }
    .toggle-button .bar {
        height: 3.5px;
        width: 100%;
       
        background-color: #fff;
        border-radius: 10px;
    }
    /******************************
    MAIN
    ******************************/
    .hero {
        display: flex;
        height: 70vh;
        flex-direction: column;
        padding-top: 18rem;
        align-items: center;
    }
    .heroText {
        font-size: 6rem;
        margin: 1rem;
        padding: 2rem;
        position: relative;
    }
    .underHero{
        display: flex;
        justify-content: center;
    }
    .underHero h1 {
        font-size: 2rem;
        font-weight: 200;
        width: 90%;
        text-align: center;
    }
     .heroText::after {
        content:'|';
        position: absolute;
        right: 0;
        bottom: 1rem;
        color: #ffffff;
        background-color: black;
        width: 100%;
        padding: 1rem;
        animation: 
            typing 3s steps(31) forwards,
            line 1s infinite; 
    } 

        @keyframes typing{
            to{
                width: 0%;
            }
        }
        @keyframes line{
            50%{
                color: transparent;
            }
        } 

    h1 {
        margin-bottom: 1rem;
    }
    .icon {
        width: 3.5rem;
        background-color: #94eda38d;
        border-radius: 50%;
        padding: .25rem;
    } 

/***************************
STACK
***************************/
#stackMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    padding-top: 10rem;
}
.stackRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.stackBtn {
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    border-radius: 25px;
    padding: .5rem;
    font-size: 3rem;
    text-shadow: none;
    margin: 2rem;
    box-shadow: 0 0 20px #00ff2a;
    /* text-transform: uppercase; */
}
.stackIcon {
    width: 5rem;
    margin-right: 1rem;
}
.react, .sql, .azure, .nodejs{
    display: none;
}

/**************************
ABOUT ME
**************************/
#aboutMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    padding-top: 10rem;
}
.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    
}
.aboutImg {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    margin: 4rem;
}
.textWrapper {
    display: flex;
    flex-wrap: wrap;
}
.aboutText {
    font-size: 3rem;
}

/********************
CONTACT
*********************/

.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 2rem;
    margin-top: 4rem;
}
.contactForm {
    max-width: 55rem;
    margin: 0 auto;
    background-color: rgba(34, 194, 58, 0.1);
    padding: 3rem;
    border-radius: .5rem;
    display: flex;
    box-shadow: 0 0 10px #00ff2a;
}
.inputFields {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.inputFields, .message {
    width: 48%;
}

.inputFields .input, .message textarea {
    margin: 1rem 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(217, 255, 0, 0.593);
    padding: 1rem;
    color: rgba(85, 255, 0, 0.417);
    width: 100%;
}
.message textarea {
    height: 21rem;
}
.btn {
    background: #101010c5;
    text-align: center;
    padding: 1.5rem;
    border-radius: .5rem;
    color:rgba(34, 194, 58);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(217, 255, 0, 0.593);
    font-size: 2rem;
}

.btn:hover {
    background-color: rgba(217, 255, 0, 0.593);
    color: black;
    text-shadow: none;
}
/***********************
CONTACT AFTER FORM SUBMIT
************************/
#afterSubmitMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.afterSubmitMessage {
    font-size: 3rem;
}
/***********************
PROJECTS
*************************/
.projectsTitle, .projectsTitle + p {
    text-align: center;
}
.projectsTitle {
    font-size: 4rem;
    
}
.thumbnailContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 0;
}
.thumbnail {
    width: 35rem;
    height: 50rem;
    background-color: gray;
    border-radius: 15px;
    margin: 5rem;
}
.thumbnail:hover {
    box-shadow: 0 0 15px rgba(217, 255, 0, 0.8);
    opacity: .5;
    transition: .7s;
}
.projectThumbnailAnchor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectThumbnailAnchor span {
    font-size: 2rem;
}
/************************
MEDIA QUERIES
************************/

/**************
CONTACT FORM
***************/
@media screen and (max-width: 600px){
    .contactForm {
        flex-direction: column;
    }
    .message textarea {
        height: 8rem;
    }
    .inputFields, .message, .btn {
        width: 100%;
    }
}

/****************
NAV
****************/
@media screen and (max-width: 1000px){
    .heroText{
       text-align: center;
       font-size: 3rem;
    }
    .heroText::after{
        display: none;
    }
    .underHero{
        font-size: 2rem;
    }
    #stackMain{
        padding-top: 1rem;
    }
    #aboutMain{
        padding-top: 1rem;
    }
    .hero{
        padding-top: 1rem;
    }
}

@media screen and (max-width: 880px){
   
    .navbar {
        flex-direction: column;
    }
    .aboutContainer{
        flex-direction: column;
    }
    .aboutText{
        text-align: center;
        font-size: 2rem;
    }
}

@media screen and (max-width: 510px){
    .navLinks{
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 415px){
    .navLinks{
        font-size: 1.5rem;
    }
}