* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Inconsolata', monospace, sans-serif;
    background-color: black;
    color: #ffffffa5;
    text-shadow:
    0 0 10px #00ff2a;
}
/*****************************
HEADER
*****************************/
header {
    font-size: 2.5rem;
}
nav {
    height: 10vh;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.navLinks {
    margin: 2rem;
}
.bully {
    margin-right: auto;
    display: flex;
}
/******************************
MAIN
******************************/
.hero {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroText {
    font-size: 6rem;
    margin: 1rem;
    padding: 2rem;
    position: relative;
}
.heroText::after {
     content:'|';
     position: absolute;
     right: 0;
     bottom: 1rem;
     color: #ffffff;
     background-color: black;
     width: 100%;
     padding: 1rem;
     animation: 
        typing 3s steps(31) forwards,
        line 1s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line{
    50%{
        color: transparent;
    }
}
h1 {
    margin-bottom: 1rem;
}
.icon {
    width: 3.5rem;
    background-color: #94eda38d;
    border-radius: 50%;
}